<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!--namespace用于绑定dao接口-->
<mapper namespace="com.ilzya.springboot.dao.UserDao">

    <!--	id用来绑定dao层定义的接口-->
    <!--	parameterType是传递的参数-->
    <!--	resultType是返回的数据类型-->




</mapper>